In [52]:
import pandas
df1=pandas.read_csv('supermarkets2.csv', header=None) # Kolone dobijaju nazive brojeve sto je bitno jer u situaciji kad fajl nema header-a on prvi red promovira u header i tako taj red ispada iz kalkulacija! Vidi donju celiju!
df1.columns = ["red", "adr", "grad", "posta", "drzava", "Trgov", "kom"]
df1

,red,adr,grad,posta,drzava,Trgov,kom
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [53]:
# imali svoje indeksiranje redova (kao gore kolona red), ili ne imali, pandas svejedno redove indeksira po svom. Ako zelimo sami indeksirati:
df2 = df1.set_index("red")

In [54]:
df1     # dokaz da df1 nije mjenjan in place zbog cega smo i snimali u varijablu df2

,red,adr,grad,posta,drzava,Trgov,kom
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [55]:
df2 # red je presao u posebni red-naziv i ispod rastuci brojevi preostalih redova

                 adr           grad             posta drzava        Trgov  kom
red
1       3666 21st St  San Francisco          CA 94114    USA      Madeira    8
2     735 Dolores St  San Francisco          CA 94119    USA  Bready Shop   15
3        332 Hill St  San Francisco  California 94114    USA  Super River   25
4       3995 23rd St  San Francisco          CA 94114    USA   Ben's Shop   10
5    1056 Sanchez St  San Francisco        California    USA      Sanchez   12
6    551 Alvarado St  San Francisco          CA 94114    USA   Richvalley   20

In [56]:
df1.set_index("adr", inplace=True, drop=False)
df1     # dokaz promjene in places. S in place oprezno! Ako bi sad ponovili inplace

,red,adr,grad,posta,drzava,Trgov,kom
adr,,,,,,,
3666 21st St,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
735 Dolores St,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
332 Hill St,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3995 23rd St,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
1056 Sanchez St,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
551 Alvarado St,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [57]:
# df1.set_index("adr", inplace=True) 
# Izlaz gornje
# 	                grad	        posta	    drzava	Trgov	    kom
# adr					
# 3666 21st St	    San Francisco	CA 94114	USA	    Madeira	    8
# 735 Dolores St	San Francisco	CA 94119	USA	    Bready Shop	15
# 332 Hill St	    San Francisco	CA 94114	USA	    Super River	25
# 3995 23rd St	    San Francisco	CA 94114	USA	    Ben's Shop	10
# 1056 Sanchez St	San Francisco	California	USA	    Sanchez	    12
# 551 Alvarado St	San Francisco	CA 94114	USA	    Richvalley	20
df1.set_index("red", inplace=True, drop=False)
df1     # dokaz promjene in places. S in place oprezno! Ako bi sad ponovili inplace ali s npr adr, to se odradi ali ostajemo bez kolone-indeksa red. Kako bi to izbjegli dodajemo u k-du drop koji kaze da promovirajuci neku kolonu u indeksnu takodjer je zadrzilo kao kolonu

,red,adr,grad,posta,drzava,Trgov,kom
red,,,,,,,
1,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20